<ion-header>
    <button ion-button clear ion-start (click)="closeModal()">Fermer</button>
  <ion-navbar>
    <ion-title>Emprunter/rendre {{ lendBook.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card no-padding [ngClass]="{'is-on': lendBook.isLend, 'is-off': !lendBook.isLend}">
    <ion-card-header>{{lendBook.name}}</ion-card-header>
    <ion-card-content>
      <p *ngFor="let line of lendBook.description">{{line}}</p>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col no-padding>
        <button full ion-button 
                color="secondary"
                [disabled]="!lendBook.isLend"
                (click)="onLendBook()">
          Emprunter
        </button>
      </ion-col>
      <ion-col no-padding>
        <button full ion-button 
                color="primary"
                [disabled]="lendBook.isLend"
                (click)="onLendBook()">
          Rendre
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
