<ion-header>
  <ion-navbar>
    <ion-buttons start>
        <button ion-button icon-only (click)="onToggleMenu()">
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title icon-start><ion-icon name="home"></ion-icon>
      Accueil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Page d'accueil de l'application d'emprunt de livres et de CD</p>
</ion-content>
