<ion-menu [content]="content">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <button ion-item padding-left padding-right icon-start (click)="onNavigate(homePage)">
                    <ion-icon name="home"></ion-icon>
                </button>
                <button ion-item padding-left padding-right icon-start (click)="onNavigate(tabsPage)">
                    <ion-icon name="power">
                        Liste
                    </ion-icon>
                </button>
                <button ion-item padding-left padding-right icon-start (click)="onNavigate(settingsPage)">
                    <ion-icon name="options">
                        Options
                    </ion-icon>
                </button>
            </ion-list>
        </ion-content>
    </ion-menu>
<ion-nav [root]="homePage" #content></ion-nav>
