<ion-header>
  <ion-navbar>
    <ion-buttons start>
        <button ion-button icon-only (click)="onToggleMenu()">
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Mes livres</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let book of bookList; let i = index" (click)="openBook(i)"
    [ngClass]="{'is-on': book.isLend, 'is-off': !book.isLend}">{{ book.name }}</ion-item>
  </ion-list>
</ion-content>
