<ion-header>
  <button ion-button clear ion-start (click)="closeModal()">Fermer</button>
  <ion-navbar>
    <ion-title>Emprunter/rendre un {{ lendCd.name }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card no-padding [ngClass]="{'is-on': lendCd.isLend, 'is-off': !lendCd.isLend}">
      <ion-card-header>{{lendCd.name}}</ion-card-header>
      <ion-card-content>
        <p *ngFor="let line of lendCd.description">{{ line }}</p>
      </ion-card-content>
    </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col no-padding>
        <button full ion-button 
                color="secondary"
                [disabled]="!lendCd.isLend"
                (click)="onLendCd()">
          Emprunter
        </button>
      </ion-col>
      <ion-col no-padding>
        <button full ion-button 
                color="primary"
                [disabled]="lendCd.isLend"
                (click)="onLendCd()">
          Rendre
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
