<ion-header>
  <ion-navbar>
    <ion-buttons start>
        <button ion-button icon-only (click)="onToggleMenu()">
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Mes CD</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let cd of cdList; let i = index" (click)="openCd(i)"
    [ngClass]="{'is-on': cd.isLend, 'is-off': !cd.isLend}">{{ cd.name }}</ion-item>
  </ion-list>
</ion-content>
